body {
    background-color: #dddddd;
    font-family: 'Open Sans', 'Times New Roman', Times, serif;
    font-size: 14pt;
}

h1 {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 40pt;
    margin-bottom: 1em;
}

ul {
    list-style-type: disc; /* restores the bullet for line items */  
    list-style-position: outside;
}

p, ul, li {
    line-height: 170%;
    margin-bottom: 1em; /* restores spacing after the tag */
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    background-color: blue;
    color: #ffffff;
}

#body-wrapper {
    width: 960px;
    margin: 4px;
    border-left: 2px solid #aaaaaa;
    padding-left: 4px;
}